header section {
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  /*retira as bolinhas da listagem*/
}

header nav ul li a {
  margin: 0 15px;
  /*0 na altura (superior e inferior) e lateral de 15px*/
  color: #3399cc;
}